# Copyright Broadcom, Inc. All Rights Reserved.
# SPDX-License-Identifier: APACHE-2.0

# NOTE: This workflow is maintained in the https://github.com/bitnami/support repository
name: '[Support] Close Solved issues'
on:
  schedule:
    # Hourly
    - cron: '0 * * * *'
# Remove all permissions by default. Actions are performed by Bitnami Bot
permissions: {}
jobs:
  stale:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'bitnami' }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d
        with:
          any-of-labels: 'solved'
          stale-issue-label: 'solved'
          days-before-stale: 0
          days-before-close: 0
          repo-token: ${{ secrets.BITNAMI_SUPPORT_BOARD_TOKEN }}